/* Minimal styling for HTML preview */

hr {
    margin: 20px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #f6f6f6;
}

code, pre {
    font-family: consolas, "liberation mono", courier, monospace;
    font-size: 14px;
}

.highlight {
    background-color: inherit;
}

.footnote {
    font-size: 12px;
    color: #666;
}
.footnote ol {
    padding-left: 16px;
}
