body {
    background-color: #f6f6f6;
    text-shadow: 0 1px 1px #fff;
}

pre {
    background-color: inherit;
}

code {
    color: #000;
}

hr {
    border-top-color: #ddd;
}

#preview-form {
    position: fixed;
    width: 45.5%;
    left: 3%;
    top: 5%;
    height: 90%;
}

#preview-form [name=markup] {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    resize: none;
    background-color: inherit;
    border: none;
}

#preview-area {
    box-sizing: border-box;
    overflow: auto;
    position: fixed;
    height: 90%;
    width: 45.5%;
    top: 5%;
    right: 3%;
}

#preview-area > :first-child {
    margin-top: 0;
}

#preview-area > :last-child {
    margin-bottom: 0;
}
