.highlight {
    background-color: inherit;
}

#preview-form {
    position: fixed;
    width: 45.5%;
    left: 3%;
    top: 5%;
    height: 90%;
}

#preview-form [name=markup] {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 10px;
    border: none;
    outline: none;
    resize: none;
}

#preview-area {
    box-sizing: border-box;
    position: fixed;
    width: 45.5%;
    top: 5%;
    right: 3%;
    height: 90%;
    padding: 10px;
    overflow: auto;
}

#preview-area > :first-child {
    margin-top: 0;
}

#preview-area > :last-child {
    margin-bottom: 0;
}
